---
const classes = {
  paragraph: 'text-xl',
  resume: 'text-2xl font-semibold my-2',
};
---

<section class="container mx-auto flex justify-around mt-80 items-center">
  <article class="w-1/3 gap-2 flex flex-col">
    <h2 class="text-4xl font-bold mb-10">About me</h2>
    <p class={classes.paragraph}>
      I am a guy from Colombia who likes programming very much. As always, I'm really curious about all these technologies offer.
    </p>
    <p class={classes.paragraph}>
      During the last years, I have dedicated to develop and innovate in technology software projects, contributing to their business development and
      future expansion.
    </p>
  </article>

  <ul class="mt-10">
    <li class={classes.resume}>Comunity builder</li>
    <li class={classes.resume}>Top performnat member</li>
    <li class={classes.resume}>Mentor</li>
    <li class={classes.resume}>Long life learner</li>
  </ul>
</section>
