---
import peopleReferences from '@/data/people';
import Link from '@/components/Link';
import { NAME, globalClasses } from '@/constants';
import { cn } from '@/utils';
---

<section class={cn(globalClasses.container, 'mt-40')} id="references">
  <h2 class={cn(globalClasses.blackGradient, 'text-4xl font-bold mb-10')}>References</h2>
  <section class="flex flex-col gap-10">
    {
      peopleReferences.map((person) => (
        <article class="shadow-md rounded-md p-4 bg-base-100">
          <div class="flex items-center gap-8">
            <img class="w-20 h-20 rounded-full border-neutral-200 border p-2" src={person.src} alt={`${person.name} telling stories about ${NAME}`} />
            <div>
              <h3 class="text-xl font-semibold">{person.name}</h3>
              <p>{person.place}</p>
              <Link href="https://www.linkedin.com/in/makinox" name="Verify" />
            </div>
          </div>
          <p class="mt-4">{person.text}</p>
        </article>
      ))
    }
  </section>
</section>
