---
import Link from '@/components/Link';
import workData from '@/data/work';
---

<section class="container mx-auto mt-80">
  <h2 class="text-4xl font-bold mb-12">More than 7 years working with large companies</h2>
  <div class="flex justify-center flex-wrap gap-10">
    {
      workData.map((element, index) => {
        const indexCount = index + 1;
        return (
          <article class="w-72 flex flex-col items-center">
            <div class="relative">
              <div class="absolute badge badge-info badge-sm top-0 left-0 flex">{indexCount}</div>
              <img class="w-20 h-20 rounded-full border-neutral-200 border p-2" src={element.image} alt={element.place} />
            </div>
            <h3 class="text-2xl text-center font-semibold my-2">{element.place}</h3>
            <p>{element.job}</p>
            <p>{element.timeCount}</p>
            <Link name="Visit" href={element.link} />
          </article>
        );
      })
    }
  </div>
</section>
