---
import Description from '@/modules/Description.astro';
import Contacts from '@/modules/Contacts.astro';
import People from '@/modules/People.astro';
import Footer from '@/modules/Footer.astro';
import Projects from '@/modules/Projects';
import Talks from '@/modules/Talks.astro';
import Hero from '@/modules/Hero.astro';
import Work from '@/modules/Work.astro';
import Skills from '@/modules/Skills';

import Navbar from '@/components/Navbar.astro';

import Layout from '@/layouts/Layout.astro';

import { transformPortfolioData } from '@/utils';

const portfolioData = await transformPortfolioData(await (await fetch(import.meta.env.PORTFOLIO_SOURCE)).json());
---

<Layout title="Jesús David Bossa | Portfolio">
  <main class="bg-base-200">
    <Navbar />
    <Hero />
    <Description />
    <Work work={portfolioData.work} />
    <Talks talks={portfolioData.talks} />
    <Projects projects={portfolioData.projects} client:load />
    <Skills skills={portfolioData.skills} client:load />
    <People people={portfolioData.people} />
    <Contacts />
    <Footer />
  </main>
</Layout>
